# Farmer Problem
Author: Parham Alvani (98131910)

In [1]:
from config import Config
from lagrange import Lagrange, Parameters

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

## 3 Scenarios
Here we want to demostrate the correctness benders solution so solve it with 3 scenarios.

In [3]:
cfg = Config(scenarios=[0.2, 0, -0.2])

In [4]:
lagrange = Lagrange(cfg, Parameters(lower_bound=float('-inf'), upper_bound=-53100, k_bound=100, k_1_bound=4))

In [5]:
%%capture
solution = lagrange.solve()

In [6]:
solution

(-108391.03461506369, 500.0, 80.0, 250.0)

In [7]:
df = pd.DataFrame(data=lagrange.iterations)

In [8]:
df

     k    x_1    x_2    x_3           z_lb  omega      teta      lambda
0    1  500.0  500.0  375.0 -311000.000000  875.0  0.673698    0.000000
1    2    0.0    0.0    0.0 -196742.857143 -500.0  1.149143  589.485714
2    3  500.0  500.0  375.0 -297950.000000  875.0  0.639608   14.914286
3    4    0.0    0.0    0.0 -189285.714286 -500.0  1.089486  574.571429
4    5  500.0  500.0  375.0 -284900.000000  875.0  0.605518   29.828571
..  ..    ...    ...    ...            ...    ...       ...         ...
94  95  500.0   80.0  250.0 -108414.663880  330.0  0.000062  274.925261
95  96  500.0   80.0  250.0 -108407.911602  330.0  0.000062  274.945722
96  97  500.0   80.0  250.0 -108401.160148  330.0  0.000062  274.966181
97  98  500.0   80.0  250.0 -108394.409518  330.0  0.000031  274.986638
98  99  500.0   80.0  250.0 -108391.034615  330.0  0.000031  274.996865

[99 rows x 8 columns]